<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
     <%#= link_to image_tag("Rainbow Match.png", class:"rainbow_match"), "/" %>
  <div class='search-bar-contents'>
        <%#= image_tag "search.png", class:"search-icon"%> 
      </button>
    </form>
  </div>
  <div class='nav'>
    <div class="user_nav grid-6">
    <span><%= current_user.nickname %>
      <ul class="user__info">
      <li>
      <% if user_signed_in? %>
      <%= link_to current_user.nickname,  user_registration_path, class: "user-nickname" %>
      <%= link_to '通知', user_notifications_path, class: "user-nickname" %>
      <%= link_to 'ログアウト',  destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %>
      <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
      <% end %>
      </li>
    </ul>
    </span>  
  </div>
</header>